<%- include("../includes/header.ejs", {title: "Update " + account.account_name}); %>

<h1>Account Update <%= account.account_name%></h1>
<form action="/account/update" method="get">
    <input type="hidden" id="account_id" name="account_id" value="<%= account.account_id %>">
    Account Name:
    <input id="first_name" name="first_name" type="text" value="<%= account.first_name%>"/>
    <input id="last_name" name="last_name" type="text" value="<%= account.last_name%>"/>
    <br />
    <br />
    Email:
    <input id="email" name="email" type="text" value="<%= account.email%>"/>
    <input type="submit" />
</form>

<%- include("../includes/footer.ejs"); %>

</html>