<%- include("../includes/header.ejs", {title:"Add New account"}); %>
    <h1>Add New Account</h1>
    <form action="/account/insert" method="get">
        Account Name:
        <input id="first_name" name="first_name" type="text" />
        <input id="last_name" name="last_name" type="text" />
        <br />
        <br />
        Email <input id="email" name="email" type="text" />
        <br />

        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>