<%- include("../includes/header.ejs", {title: "Update " + resume_name}); %>

<h1>Resume Update <%= resume_name%></h1>

<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        <%= resume_name %> was successfully saved. %>
    </div>
</div>
<% } %>

<form action="/resume/edit" method="post">
    <input type="hidden" id="resume_id" name="resume_id" value="<%= resume_id %>">
    Resume Name:
    <input id="resume_name" name="resume_name" type="text" value="<%= resume_name%>"/>

    <input type="submit" />
</form>

</br>

<%- include("../includes/footer.ejs"); %>

</html>