<%- include("./includes/header.ejs", {title: title}); %>

<h1>Welcome to <%= title %></h1>


<nav>
    <ul>
        <li><a href="/company/all">Companies - View All -</a> Information about companies.</li>
        <li><a href="/account/all">Accounts  - View All -</a> Information about our users.</li>
        <li><a href="/address/all">Addresses - View All -</a> Addresses of our users.</li>
        <li><a href="/skill/all">Skills - View All -</a> Skills our users have.</li>
        <li><a href="/resume/all">Resumes - View All - </a> Resumes our users have made.</li>
    </ul>
</nav>

<%- include("./includes/footer.ejs"); %>
